/* HeroDetailComponent's private CSS styles */

:host
  display: block
  height 100%
  width 100%
  background: linear-gradient(0, rgba(0, 0, 0, 0.3), transparent);//url('../../assets/images/details-bg3.jpg')

.card-wrapper
  border 1px solid #0003
  border-radius 20px
  box-shadow 1px 1px 3px 2px #5d5d5d
  max-width 400px
  background white
  margin 15px auto
  .top-section
    padding 15px
  .bottom-section
    padding 15px
    border 1px solid #FFF
    border-radius 20px
    box-shadow 0px -1px 0px 0px #ececec

.pokemon-name
  text-transform capitalize
  font-weight bold

.type-container
  .badge
    margin 0 5px

.image-container
  text-align center
  .image
    height 96px

.data
  &-row
    padding 5px 0
  &-label
    color #607d8b
    font-size 0.8rem
    text-transform capitalize
    white-space nowrap
  &-value
    font-size 0.8rem
    font-weight 600
  &-header 
    font-size 1.2rem
    font-weight 600
  &-info
    text-transform capitalize
    font-size 0.8rem
    color #607d8b

.stat-row
  padding 5px 0
  .data-value
    text-align right

ul
  list-style: none;
  padding-left: 15px;

.back-arrow
  margin: 20px;
  background-color: #C32025;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  position: absolute;
  top: 0;
  border-radius: 50%;
  &:hover
    background-color: #cfd8dc;
  &-icon
    height 30px
  

.error-container, .loading-container
  text-align center
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.loading-img
  height 100px