<app-header></app-header>
<button class="back-arrow" (click)="goBack()">
  <img class="back-arrow-icon" src="../../assets/images/Back-Arrow-Icon.png">
</button>
<div class="loading-container" *ngIf="loading">
  <img class="loading-img" src="../../assets/images/loading2.gif">
  <div>Loading...</div>
</div>

<div class="error-container" *ngIf="error">
  <img src="../../assets/images/error2.gif">
</div>


<div *ngIf="pokemon">
  <div class="card-wrapper animated bounceIn">
    <div class="top-section">
      <h2 class="pokemon-name">
        {{pokemon.name}}
      </h2>
      <div class="type-container">
        <span class="badge badge-pill badge-dark" *ngFor="let typeObj of pokemon.types">
          {{typeObj?.type?.name}}
        </span>
      </div>
      <div class="image-container">
        <img class="image" [src]="pokemon.sprites.front_default">
      </div>
    </div>
    <div class="bottom-section">
      <tabset [justified]="true">
        <tab heading="About">
          <div class="tab-data">
            <div class="row data-row">
              <div class="col col-6 data-label">
                Weight
              </div>
              <div class="col col-6 data-value">
                {{pokemon.weight}}
              </div>
            </div>

            <div class="row data-row">
              <div class="col col-6 data-label">
                Height
              </div>
              <div class="col col-6 data-value">
                {{pokemon.height}}
              </div>
            </div>

            <div class="row data-row">
              <div class="col col-6 data-label">
                Base Experience
              </div>
              <div class="col col-6 data-value">
                {{pokemon.base_experience}}
              </div>
            </div>

            <div class="row data-row">
              <div class="col col-12 data-header">
                Abilities
              </div>
              <ul>
                <li class="col col-12 data-info" *ngFor="let abilityObj of pokemon.abilities">
                  {{abilityObj?.ability?.name}}
                </li>
              </ul>
            </div>
          </div>
        </tab>
        <tab heading="Stats">
          <div class="tab-data">
            <div class="row stat-row" *ngFor="let statObj of pokemon.stats">
              <div class="col-5 data-label">{{statObj?.stat?.name}}</div>
              <div class="col-2 data-value">{{statObj?.base_stat}}</div>
              <div class="col-5 data-chart">
                <progressbar max="100" 
                [value]="statObj?.base_stat" 
                [type]="statObj?.base_stat <= 35 ? 'danger' : statObj?.base_stat <= 75 ? 'warning' :  'success'" 
                [striped]="true" [animate]="true"></progressbar>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>

